* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #666;
}

ul {
    list-style: none;
}

input {
    outline: none;
    border: 0;
}

.xpj {
    margin: 0 .533333rem;
}

.fh {
    width: .533333rem;
    height: .533333rem;
    margin: .533333rem 0;
}

.fh a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/fh.png) no-repeat;
    background-size: 50%;
}

.xpj b {
    float: left;
    width: 2.133333rem;
    height: .746667rem;
    font-size: .533333rem;
    color: #333;
}

.xpj b::after {
    content: "";
    display: inline-block;
    width: .453333rem;
    height: .293333rem;
    background: url(../upload/upla.png) no-repeat;
    background-size: 100%;
}

.dizhi {
    float: right;
    margin-top: .186667rem;
    width: 3.36rem;
    height: .533333rem;
    font-size: .373333rem;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
}

section {
    position: relative;
}

.sousuo {
    margin-top: .613333rem;
    margin-bottom: .666667rem;
    padding-left: .426667rem;
    width: 9.066667rem;
    height: 1.12rem;
    background: #F6F6F6;
    border-radius: 2.666667rem;
    font-size: .373333rem;
    font-weight: 700;
    color: #3B3B3B;
    letter-spacing: 0;
    text-align: left;
}

.sousou {
    position: absolute;
    top: 1.626667rem;
    right: .453333rem;
    width: .56rem;
    height: .56rem;
    background: url(../upload/sousou.png) no-repeat;
    background-size: 100%;
}

.xpj_list {
    padding: 0 .24rem
}

.xpj_list li {
    padding-left: .426667rem;
    margin-bottom: .453333rem;
    height: .853333rem;
    font-size: .32rem;
    color: #666666;
    letter-spacing: 0;
    text-align: left;
    border-bottom: .013333rem solid #E7E7E7;
}